* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


body {
    width: 70%;
    margin: auto;
}

.siteheader {
    height: 80px;
    background-color: darkgoldenrod;
    margin-bottom: 1rem;
}

.jumbo {
    height: 250px;
    background-color: darkorchid;
    margin-bottom: 1rem;
}

.intro {
    height: 80px ;
    background-color: darkseagreen;
    margin-bottom: 1rem;
}

