* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


body {
    width: 80%;
    margin: auto;
}

.siteheader {
    height: 100px;
    background-color: darkgoldenrod;
    margin-bottom: 1rem;
}